.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.tenants {
  border: 1px solid red;
  width: 50%;
  padding: 50px;
}
input[type="text"],
[type="email"],
[type="number"] {
  margin: 15px;
}
.salary {
  border: 1px solid red;
  width: 50%;
  padding: 50px;
}
