.container {
  display: flex;
}
input[type="text"],
[type="email"],
[type="radio"] {
  margin: 15px;
}

.tenants,
.summary,
.radio {
  width: 350px;
  margin: 0px;
  padding: 30px;
  border: 1px solid red;
  background: #82ccdd;
  box-shadow: 5px 5px 5px 5px teal;
}
.prog {
  padding: 50px;
  margin: 100px 0px 0px 50px;
}
.summary div {
  margin: 20px;
}
